[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
openai = "*"
flask-cors = "*"
python-dotenv = "*"
langchain-community = "*"
supabase = "*"
langchain-core = "*"
langchain = "*"
langchain-openai = "*"
langchainhub = "*"
requests = "*"
pydantic = "*"
lxml = "*"
gunicorn = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
